@import 'icons';

.icon {
  display: block;
  width: 1em;
  height: 1em;
  font-family: 'Material Icons';
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  // & + span {
  //   margin-left: 1em;
  // }
  &:before {
    display: block;
    // margin: 0.25em;
    content: '\E6DD';
  }
  @each $name, $value in $icons {
    &.icon--#{$name} {
      &:before {
        content: quote($value);
      }
    }
  }
}

// .icon--arrow-left {
//   transform: translateX(-25%);
// }

.icon--menu-inverted {
  transform: scaleX(-1);
}

.icon--comment {
  transform: scaleX(-1);
}

@keyframes spin {
  from {
    transform: rotate(0deg) scaleX(-1);
  }
  to {
    transform: rotate(360deg) scaleX(-1);
  }
}

.icon--loading {
  animation: spin 1s ease-in-out infinite;
}

.icon--plus-circle {
  transform: scale(1.75);
}

// .icon--library {
//   transform: scale(1.125) translateY(5%);
// }

.icon--open {
  transform: scaleX(-1);
}

.icon--subtitle {
  transform: scale(0.8);
  transform-origin: bottom;
}

.icon--layer {
  transform: rotateX(45deg) rotateZ(45deg) perspective(10em) scale(1.25);
  transform-origin: center;
}

.icon--layers {
  transform: rotateX(45deg) perspective(10em) scale(1.25);
  transform-origin: center;
}

// .icon {
//   &[class^="icon--social--"],
//   &[class*=" icon--social--"] {
//     &:before {
//       content: '';
//       width: 100%;
//       height: 100%;
//       background-position: center center;
//       background-size: 75%;
//       background-repeat: no-repeat;
//     }
//   }
// }

// $socs
