.gm-style {
  .cluster {
    img {
      // max-width: 100%;
      display: none;
    }
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid grey;
      border-radius: 50%;
      background-color: hsl(0, 0%, 90%);
      // font-weight: normal !important;
      // font-family: inherit !important;
      // font-size: inherit !important;
      font: inherit !important;
      font-size: 0.75em !important;
      // font-size: 0.5em !important;
      font-weight: bold !important;
      line-height: inherit !important;
    }
  }
}
