.marker__inner--metro {
  width: 2em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./../../../assets/train.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
