@import 'general';
@import 'typography';
@import 'button';

.heading-label {
  display: flex;
  margin-bottom: 0.5rem;
  @include uppercase();
  // font-weight: bold;
  // opacity: 0.75;
}

.placeholder {
  &:empty {
    width: 2em;
    height: 1.5em;
    background-color: grey(0.5, 0.07);
    // $placeholder-gradient-color-dark: grey(0.5, 0.1);
    // $placeholder-gradient-color-light: grey(0.5, 0.03);
    // background-image: linear-gradient(
    //   to right,
    //   $placeholder-gradient-color-light,
    //   $placeholder-gradient-color-dark,
    //   $placeholder-gradient-color-light
    // );
    // background-repeat: repeat-x;
    // animation: loading 3s infinite alternate;
    // background-size: 200%;
    &.placeholder--long {
      width: 2em * 6;
    }
  }
  &:after {
    content: '';
  }
}

@keyframes loading {
  from {
    background-position: 0;
  }

  50% {
    background-position: 10em;
  }

  to {
    background-position: 0;
  }
}
