@import './../../style/variables.scss';

$bus-font-size: 0.5rem;
// $bus-font-size: 8px;

.bus {
  .map--idle & {
    transition: all 1s ease;
  }
  a {
    $scale: 1.375;
    width: $scale * 0.75rem;
    height: $scale * 1.5rem;
    border-radius: $scale * 0.125rem;
    border: 2px solid $carris-blue;
    color: $carris-blue;
    font-weight: bold;
    background-color: $carris-yellow;
    font-size: $bus-font-size;
    letter-spacing: -0.5px;
    // font-size: 0.675em;
    // font-size: 0.675em;
    // position: relative;
    // border-bottom-width: 3px;
    // border-width: 2px 1px;
    // border-top-width: 1px;
    // border-bottom-width: 2px;
    // &:before {
    //   position: absolute;
    //   top: 0;
    //   margin: 0 auto;
    //   $size: 4px;
    //   content: '';
    //   display: block;
    //   border: $size solid transparent;
    //   border-bottom: $size * 2 solid $carris-blue;
    //   border-top: 0;
    // }
    // span {
    //   // font-size: 0.5em;
    //   letter-spacing: inherit;
    // }
  }
}

// .bus--left {
//   span {
//     transform: rotate(90deg);
//   }
// }

// .bus--right {
//   span {
//     transform: rotate(-90deg);
//   }
// }
